{% extends "base.html" %}

{% block titleAddition %} - About Us{% endblock %}

{% block content %}
<div class="hero-section">
    <h1 class="display-4">About RNA Tools</h1>
    <p class="lead">A suite of powerful, accessible, and open-source tools for RNA research.</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow-sm mb-4">
                <div class="card-body p-4">
                    <h2 class="card-title">Our Tools</h2>
                    <p class="card-text">RNA Tools provides a collection of programs for RNA probe design.</p>
                    <ul>
                        <li><strong>TFOFinder:</strong> Designs triplex-forming oligonucleotides (TFO) probes.</li>
                        <li><strong>PinMol:</strong> Designs molecular beacons for live cell imaging of mRNA targets.</li>
                        <li><strong>smFISH:</strong> For designing probes for single-molecule fluorescence in situ hybridization (smFISH), taking into consideration target structure.</li>
                    </ul>
                </div>
            </div>
            <div class="card shadow-sm">
                <div class="card-body p-4">
                    <h2 class="card-title">Get Involved</h2>
                    <p class="card-text">RNA Tools is an open-source project, and we welcome contributions from the community. Check out our GitHub repository to learn more.</p>
                    <a href="https://github.com/Catrina-Lab/RNAProbes" class="btn btn-primary">View on GitHub</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}