{% extends "base.html" %}

{% block titleAddition %} - Contact Us{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm">
                <div class="card-body p-4-5">
                    <h2 class="card-title">Contact Information</h2>
                    <p><i class="fas fa-map-marker-alt"></i>Yeshiva University</p>
                    <p><i class="fas fa-map-marker-alt"></i> 500 W 185th St, New York, NY 10033</p>
                    <p><i class="fas fa-envelope"></i> contact@rnatools.org</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}