{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h1 class="text-center mb-4">Welcome to the RNA Tool Suite</h1>
  <div class="row">
    <div class="col-md-4">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">SM-Fish</h5>
          <p class="card-text">Single-molecule fluorescence in situ hybridization (smFISH) probe design.</p>
          <a href="/form/sm-fish" class="btn btn-primary">Go to SM-Fish</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">TFOFinder</h5>
          <p class="card-text">Triplex-forming oligonucleotide (TFO) target sequence finder.</p>
          <a href="/form/tfofinder" class="btn btn-primary">Go to TFOFinder</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">RNAProbe</h5>
          <p class="card-text">Design of probes for RNA visualization.</p>
          <a href="/form/rnaprobe" class="btn btn-primary">Go to RNAProbe</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
