{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h1 class="text-center mb-4">Welcome to the RNA Tool Suite</h1>
  <form action="/form" method="post">
    <div class="row">
      <div class="col-md-4">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">SM-Fish</h5>
            <p class="card-text">Single-molecule fluorescence in situ hybridization (smFISH) probe design.</p>
            <input type="checkbox" name="programs" value="sm-fish" class="form-check-input">
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">TFOFinder</h5>
            <p class="card-text">Triplex-forming oligonucleotide (TFO) target sequence finder.</p>
            <input type="checkbox" name="programs" value="tfofinder" class="form-check-input">
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">RNAProbe</h5>
            <p class="card-text">Design of probes for RNA visualization.</p>
            <input type="checkbox" name="programs" value="rnaprobe" class="form-check-input">
          </div>
        </div>
      </div>
    </div>
    <div class="text-center mt-4">
        <button type="submit" class="btn btn-primary">Proceed</button>
    </div>
  </form>
</div>
{% endblock %}