{% extends "base.html" %}

{% block titleAddition %} - Legal Statement{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="card shadow-sm">
        <div class="card-body p-5">
            <h1 class="card-title">Legal Statement</h1>
            <p class="card-text">
                Please read these terms and conditions carefully before using Our Service.
            </p>
            <h2 class="h4 mt-4">Interpretation and Definitions</h2>
            <h3 class="h5 mt-3">Interpretation</h3>
            <p>The words of which the initial letter is capitalized have meanings defined under the following conditions. The following definitions shall have the same meaning regardless of whether they appear in singular or in plural.</p>
            <h3 class="h5 mt-3">Definitions</h3>
            <p>For the purposes of these Terms and Conditions:</p>
            <ul>
                <li><strong>Country</strong> refers to: United States</li>
                <li><strong>Organization</strong> (referred to as either "the Organization", "We", "Us" or "Our" in this Agreement) refers to RNA Probes.</li>
                <li><strong>Service</strong> refers to the Website or other programs distributed by RNA Probes.</li>
                <li><strong>Terms and Conditions</strong> (also referred as "Terms") mean these Terms and Conditions that form the entire agreement between You and the Organization regarding the use of the Service.</li>
                <li><strong>Website</strong> refers to RNA Probes, accessible from rnaprobes.org</li>
                <li><strong>You</strong> means the individual accessing or using the Service, or the company, or other legal entity on behalf of which such individual is accessing or using the Service, as applicable.</li>
            </ul>
            <h2 class="h4 mt-4">Acknowledgment</h2>
            <p>These are the Terms and Conditions governing the use of this Service and the agreement that operates between You and the Organization. These Terms and Conditions set out the rights and obligations of all users regarding the use of the Service.</p>
            <p>Your access to and use of the Service is conditioned on Your acceptance of and compliance with these Terms and Conditions. These Terms and Conditions apply to all visitors, users, and others who access or use the Service.</p>
            <br>
            <h2 class="h4 mt-4">Responsibility</h2>
            <p>This product comes with <b>ABSOLUTELY NO WARRANTY</b>. We are not responsible for anything, probes or otherwise, that is produced by our Service.</p>
            <h2 class="h4 mt-4">Distribution</h2>
            <p>RNA Probes is under the GNU GPL v3 license. Feel free to distribute it under the conditions described in the license.</p>
        </div>
    </div>
</div>
{% endblock %}